body, html{
    height: 100%;
    margin: 0px;
    overflow-y: hidden;
    font-family: 'Roboto', sans-serif;
}
.ql-toolbar{
    display: block;
}
main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
#editor, #editor-wrapper{
    width: 75vw;
    height: 80vh;
    border: 0px;
    margin-top: 15px;
}
.inToolbar{
    display: block;
    float: right;
    height: 100%;
    width: 10vw;
    margin-right: 15px;
}
.inToolbar input{
    width: inherit;
    border: 0px;
    border-bottom: 1px solid #ccc;
}
.inToolbar input:focus{
    outline: none;
}
#editor-wrapper{
    display: flex;
    flex-direction: column;
}
#counter{
    position: absolute;
    font-family: 'Manjari', sans-serif;
    right: 5%;
    bottom: 5%;
    color: #ccc;
}
@media screen and (max-width: 650px){
    #editor-wrapper{
        height: 100%;
        flex-direction: column-reverse;
        justify-content: center;
        width: 100%;
        margin: 0px;
    }
    #editor{
        width: 100%;
        height: 100%;
        font-size: 20px;
        padding-top: 15px;
        margin: 0px;
        overflow: scroll;
        overflow-x: hidden;
        position: relative;
        z-index: -1;
    }
    /* changing z-indexes everywhere */
    #editor-wrapper, main, body, html{
        position: relative;
        z-index: -2;
    }
    .ql-toolbar{
        position: sticky;
        position: -webkit-sticky;
        display: block;
        height: auto;
        top: 0;
        bottom: 0;
        border-top: 0px;
    }
    main{
        height: 100%;
    }
    #counter{
        top: 2%;
        right: 5%;
    }
}