body, html{
    height: 100%;
    margin: 0px;
    overflow-y: hidden;
}
.ql-toolbar{
    display: block;
}
main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
#editor, #editor-wrapper{
    width: 75vw;
    height: 80vh;
    border: 0px;
    margin-top: 15px;
}
.inToolbar{
    display: block;
    float: right;
    height: 100%;
    width: 13vw;
    margin-right: 15px;
}
.inToolbar input{
    width: inherit;
    border: 0px;
    border-bottom: 1px solid #ccc;
}
.inToolbar input:focus{
    outline: none;
}
#editor-wrapper{
    display: flex;
    flex-direction: column;
}
@media screen and (max-width: 650px){
    #editor-wrapper{
        height: 100%;
        flex-direction: column-reverse;
        justify-content: center;
        width: 100%;
        margin: 0px;
    }
    #editor{
        min-height: 500px;
        width: 100%;
        height: 100%;
        font-size: 20px;
        padding-top: 15px;
        margin: 0px;
    }
    .ql-toolbar{
        position: sticky;
        position: -webkit-sticky;
        display: block;
        height: auto;
        top: 0;
        bottom: 0;
        border-top: 0px;
        border-bottom: 0px;
    }
    .ql-formats span{
        height: 50px;
        width: 50px;
    }
    main{
        height: 100%;
    }
}